<% layout('layout') %>
<h2>Bagong Talakayan</h2>
<form method="post" action="/forum/new" class="form">
	<label>Pamagat <input type="text" name="title" required></label>
	<label>Mensahe <textarea name="body" rows="6" required></textarea></label>
	<button>I-post</button>
</form>